html, body, canvas, h1, div {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  background: grey;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100%;
}

#game-canvas {
  border: 10px solid black;
  display: block;
  margin: 250px auto;
}
