html, body, canvas, h1, div {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-image: url("../lib/images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  text-align: center;
}

.container > h1 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  font-family: 'Signika', sans-serif;
}

#game-canvas {
  display: block;
  background: #051419;
  margin: 0 auto;
}
